/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/js/changeAnswerByQuestionType.js

public/js/hiddenCheckbox.js

.vscode/settings.json

.idea/onlineexam.iml

.idea/php.xml

.idea/workspace.xml
composer.json
composer.json

docker-compose.yml
