// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f5aa42;
$orange-dark: #f58742;
$yellow: #ffed4a;
$green: #52bb4e;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$black:#000000;

//Custom colors
$custom-pink: #ff99bb;
$custom-pink-dark: #ff66b5;
$custom-pink-darker:  #ff3385;
$custom-watermelon: #fe7f9c; //Isn't watermelon suppose to be green?
$custom-pink-lighter:  #ffe6ee;
$custom-rouge: #f26b8a;
$custom-yellow-light:  #ffff99;
$custom-yellow: #ffff99;
$custom-blueviolet: #8A2BE2;

//
$mau-hann-thich-footer: #1b88b3;
$mau-hann-thich-body: #5bc4db;
$mau-hann-thich-header: #b4e5ec;
$mau-hann-thich-cardheader: #1480b6;
$mau-ao-hann-hay-mac: #517db2;
$mau-hann-thich-background: #2789e6;
