// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.general-use-button {
    background: $custom-pink-dark;
    color: $white;
    font-weight: bolder;
}
.search-button {
    background: $mau-ao-hann-hay-mac;
    color: white;
}
.create-button{
    background: $mau-ao-hann-hay-mac;
    color: $white;
}
.detail-button {
    background: $mau-hann-thich-background;
    color: $white;
}
.delete-button{
    background: $custom-blueviolet;
    color: white;
}

// button submit

