@import 'variables';

.modal-title, .modal-body {
    color: black;
}
.general-use-button{
    color: #000000;
}
.card-header{
    color: white;
}

.back {
    background-color: $orange-dark;
}

.forward {
    background-color: green;
}
