@import 'variables';
modal {color: black;}
#update{
    display: none;
}

label{
    color: $black;
}
.question-create-button{
    background: $mau-ao-hann-hay-mac;
    color: $white;
}

.question-delete{
    background: $custom-blueviolet;
    // to shame, i like watermelon
}


.answer-block{
    color: black;
}
.card-body{
    color: black;
}
.pagination {
    color: black;
}
.button-search {
    background: $mau-ao-hann-hay-mac;
    color: white;
}
