@import 'variables';
modal {color: black;}
#update{
    display: none;
}

label{
    color: $black;
}

.answer-block{
    color: black;
}
.card-body{
    color: black;
}
.pagination {
    color: black;
}
