modal {
  color: black;
}

#update {
  display: none;
}

label {
  color: #000000;
}

.question-create {
  background: #ff99bb;
  color: #ffffff;
}

.question-delete {
  background: #8A2BE2;
}

.question-edit {
  background: #f26b8a;
  color: #ffffff;
}

.answer-block {
  color: black;
}

.card-body {
  color: black;
}

